<!DOCTYPE html>
<html>
  <head>
    <title>DevWindow</title>
    <%= csrf_meta_tags %>

              <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
              <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

         <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        </head>

  <body>
       <% if current_user %>
         <%= link_to "Logout", logout_path, method: :delete  %>
            <div>
               Logged in as <%= current_user.name %>
            </div>
       <% else %>
         <%= link_to "Login with Github", "/auth/github"  %>
       <% end %>

    <nav role="navigation">
      <span class="entypo-menu" id="toggle-menu"></span>
    <div class="logo">
      <span class="entypo-compass"></span>DevWindow
    </div>
      <ul>
        <li><a href="/recent_activity">My Recent Activty</a></li>
        <li><a href="/following/recent_activity">My Followers Recent Activity</a></li>
        <li><a href="/orgs">Organizations</a></li>
        <li><a href="/repos">My Repos</a></li>
        <li><a href="/pull_requests">Opened Pull Requests</a></li>
      </ul>
    </nav>
        <a href="#">Create New Repo</a>
    <%= yield %>
  </body>
</html>
